# Making Loops and Conditionals

References:

[1] Gries, P., Campbell, J., & Montojo, J. (2017). *Practical programming: an introduction to computer science using Python 3.6.* Pragmatic Bookshelf.

[2] Matthes, E. (2023). *Python crash course: A hands-on, project-based introduction to programming.*

## 1 Conditionals

Programming often involves examining a set of conditions then deciding which actino to take based on those conditions. In the following section, we'll discuss the building blocks that we need to integrate conditional logic to our code.

### Conditional tests

First thing that we need are expressions that can be evaluated as `True` or `False`. In Python, these are expressed as *conditional tests*. Most of these tests compare the current value of a variable to a specific value of interest.

#### Checking for equality

For example, to check for equality between two values, we use the equality operation denoted by `==`. This operator returns `True` if the values on the left and right side of the operator match, and `False` if they don't match.

In [ ]:
1 == 2

In [ ]:
2 == 2

In [ ]:
car = 'toyota'
print(car == 'honda')

Note that when comparing string, testing for equality is case sensitive. This means that strings with different capitalization are not considered equal

In [ ]:
car = 'Toyota'
print(car == 'toyota')

What we can do to mediate this is to normalize the case of a variable's value just before doing the comparison.

In [ ]:
car.lower() == 'toyota'

#### Checking for Inequality

When we want to determine if two values are not equal, we can use the not equal operator. This is denoted by the `!=` operator.

In [ ]:
customer_order = 'ramen'
print(customer_order != 'pho')

#### Numerical comparisons

Testing numerical values is also straightforward, refer to the table below for the different comparison you can make and the corresponding operators.

| Operator | Description |
| -------- | ----------- |
| `==` | If the values of the operands are equal, then the condition becomes `True` | 
| `!=` | If the values of the operands are NOT equal, then this will return `True` |
| `>` | If the value of the left operand is greater than the value of right operand, this will return `True` |
| `<` | If the value of the left operand is less than the value of the right operand, this will return `False` |
| `>=` | If the value of the left operand is greater than or equal to the value of right operand, this will return `True` |
| `<=` | If the value of the left operand is less than or equal to the value of right operand, this will return `True` |

For example, you are trying to check the age of a particular person, you can do:

In [ ]:
age = 26
print("Age is equal to 18: {}".format(age == 18))
print("Age is NOT equal to 18: {}".format(age != 18))
print("Age is < 18: {}".format(age < 18))
print("Age is > 18: {}".format(age > 18))
print("Age is ≥ 18: {}".format(age >= 18))
print("Age is ≤ 18: {}".format(age <= 18))

#### Checking multiple conditions

To check for multiple conditions, you can use the `and` and `or` operator. The `and` operator returns `True` if the operands are both `True`. Meanwhile, the `or` operator returns `True` if at least one of the operand is `True`.

In [ ]:
age = 26

print(age >= 18 and age < 30)

In [ ]:
age < 18 or age > 30

#### Checking whether a value is in the list

To check whether a particular value is already in a list, use the keyword `in`.

In [ ]:
japanese_cars = ['toyota', 'honda', 'mazda']

print('bmw' in japanese_cars)

In [ ]:
'toyota' in japanese_cars

#### Checking whether a value is not in the list

If you want to determine if a value does not appear in a list, you can use the keyword `not` in this case.

In [ ]:
'bmw' not in japanese_cars

#### Boolean Expressions

Notice that the printed values for the above conditionals correspond to the value of either `True` or `False`. This kind of value is what we call a `Boolean value`.

In [ ]:
type('bmw' not in japanese_cars)

Boolean values are often used to keep track of certain conditions such as whether a person is active or whether a person has certain permissions.

In [ ]:
is_active = True
can_view = True
can_upload = False
can_edit = False

#### Using the `not` keyword

The `not` keyword can also be used to negate any *boolean* value.

In [ ]:
not ('bmw' in japanese_cars)

In [ ]:
age = 26

print(not(age > 30))

## 2 `if` Statements

Now we understand how to make conditional tests, we can start to integrate logic to our code.

### Simple `if` Statements

The simplest kind of `if` statement has one test and one action:

```python
if conditional_test:
    do something
```

In [ ]:
age = float(input("Input your age in years: "))
if age >= 17:
    print("You are eligible to apply for a professional driver's license!")

### `if`-`else` statements

Oftentimes, you'll want to take one action when a conditional test passes and a different action in all other cases. We can use Python's `if`-`else` syntax to make this possible.

```python
if conditional_test:
    # Do something if `conditional_test` is True
else:
    # Do something if `conditional_test` is False
```

In [ ]:
age = float(input("Input your age in years: "))
if age >= 17:
    print("You are eligible to apply for a professional driver's license!")
else:
    print("I'm sorry, you cannot apply for a professional driver's license.")

### `if`-`elif`-`else` chain

In other times, you'll need to test more than two possible situations. To evaluate this, you can use the Python's `if-elif-else` syntax. Python will execute only one block in the `if-elif-else` chain. It runs each conditional test in order until one passes. When a test passes, the code following that test is executed and Python skips the rest of the tests.

A real world example of this is typhoon classification.

In [ ]:
def classify_typhoon(wind_speed: float) -> str:
    """Return the classification of a tropical cyclone given its wind speed

    Reference: https://www.pagasa.dost.gov.ph/information/about-tropical-cyclone

    Parameters
    ----------
    wind_speed : float
        Wind speed of the typhoon in kilometers per hour (kph)

    Returns
    -------
    classification : str
        Classification of the typhoon. It can be Tropical Depression (TD),
        Tropical Storm (TS), Severe Tropical Storm (STS), Typhoon (TY),
        Super Typhoon (STY)

    Examples
    --------
    >>> classify_typhoon(88.5)
    SEVERE TROPICAL STORM (STS)
    """
    if wind_speed < 62:
        classification = "TROPICAL DEPRESSION (TD)"
    elif wind_speed < 88:
        classification = "TROPICAL STORM (TS)"
    elif wind_speed < 117:
        classification = "SEVERE TROPICAL STORM (STS)"
    elif wind_speed < 184:
        classification = "TYPHOON (TY)"
    else:
        classification = "SUPER TYPHOON (STY)"

    return classification

In [ ]:
classify_typhoon(88.5)

Note that Python does not require an `else` block at the end of the `if-elif` chain. Sometimes an else block can be useful, sometimes it is clearer to use an additional `elif` statement that catches the specific condition of interest.

## 3 Loops

Up until know, if we want to execute a code two hundred times, you would need to run that specific code block/cell two hundred times. For this section, we will introduce another fundamental kind of control flow: repetition. We'll see how we can write an instruction once and use loops to repeat that code the desired number of times.

There are two ways to use loops: the first one is using an iterable which allows us to process items in a collection of data; the second one is to use conditionals as trigger when to stop executing the code in the loop. We'll consider both of these in the next subsections.

### Looping through an entire collection

#### Processing lists

We'll often would want to run through different elements in a list, performing the same task in each item. As an example, consider a task wherein we are to convert several speed measurements from kilometers per hour to miles per hour. We can use Python's `for` loop syntax to process each measurement, without having to write one statement per element.

In [ ]:
speeds = [0, 1.0, 20., 60., 120., 160.] # in km/h

for speed in speeds:
    imperial_speed = round(speed / 1.609, 2)
    print(f"Metric: {speed} km/h; Imperial: {imperial_speed} mph")

The general form of a `for` loop is as follows:

```python
for <<loop_variable>> in <<list>>:
    <<block>>
```

The way a `for` loop is executed is as follows:
1. The loop variable is assigned the first item in the list, and the loop block is executed.
2. The loop variable is then assigned to the second item in the list and the loop body is executed again
3. This is repeated until the loop variable is assigned the last item in the list and the loop body is executed one last time.

Always remember to indent the line after the `for` statement in a loop. If you forget, Python will remind you by throwing off and error.

#### Using the `range()` function

Python has a built-in function `range()` that can be useful to generate a series of numbers.

In [ ]:
help(range)

You can use the `range()` in two ways:

First is by using an integer input

In [ ]:
for value in range(5):
    print(value)

The second way is to specify the starting value, ending value, and optionally, the increment or decrement value.

In [ ]:
for value in range(1, 5):
    print(value)

You can use this to refer the index of a list.

In [ ]:
japanese_cars = ['toyota', 'honda', 'nissan', 'suzuki', 'mazda']

print("A list of different japanese car brands:\n")
for i in range(len(japanese_cars)):
    print(f"{i + 1}. {japanese_cars[i].title()}")

#### Processing any iterable

The use of the `for` loop is not restricted to lists. Any data type that is iterable can be used as basis for the repetition. For example, strings are actually iterable. Thus, you could loop over them.

In [ ]:
message = 'I am an aspiring Data Science Leader'

for value in message:
    print(value)

Thus you can do several operations such as checking is a particular character is upper or lower case.

In [ ]:
for ch in message:
    if ch.isupper():
        print(ch)

### Looping using conditionals

`for` loops are useful if you know how many iterations of the loop you need. In some situations, you might not know in advance how many loop iterations you have to execute. In these cases, we can use a `while` loop. The general form of a `while` loop is as follows:

```python
while <<conditional_expression>>:
    <<block>>
```

Here's an example:

In [ ]:
rabbits = 3
while rabbits > 0:
    print(f"Number of rabbits: {rabbits}")
    rabbits -= 1

Another more useful example is a simple exponential growth model. Consider the following bacteria population model:

$$
P(t + 1) = P(t) + rP(t)
$$

where $P(t)$ is the population size at time $t$ in minutes and $r$ is the growth rate. Let's create a code that determines how long it takes for a bacteria to double their numbers.

In [ ]:
time = 0
initial_population = 1_000 # Initial population
growth_rate = 0.21 # 21% growth per minute
population = initial_population

# We terminate the loop after twice the initial population
while population < 2*initial_population:
    population += growth_rate*population
    print(f'Current population: {round(population)}')
    time += 1

print(f"\nIt took {time} minutes for the bacteria to double.")
print(f"The final population was {round(population)} bacteria.")

### Controlling Loops Using `break` and `continue`

As a rule, `for` and `while` loops execute all the statements in their body on each iteration. However, sometimes it is useful to break that rule. Python provides two ways of controlling the iteratin of a loop: `break` - which terminates the execution of the loop immediately, and `continue`, which skips ahead to the next iteration.

For example, let's look at a simple worker that accomplishes `1` unit of work every hour. Let's see what happens to our loops when we use some `break` and `continue` statements.

In [ ]:
# Case when we don't use `continue` or `break`
work_done = 0 # Initialize the work done of a worker

for time in range(24): # Time in hours
    work_done += 1

print(f"Total work done: {work_done} units")

In [ ]:
# Case when we use break
work_done = 0

for time in range(24):
    if time == 8:
        break
    else:
        work_done += 1

print(f"Total work done: {work_done} units")

In [ ]:
# Case when we use continue
work_done = 0

for time in range(24):
    if time == 8:
        continue
    else:
        work_done += 1

print(f"Total work done: {work_done} units")

In [ ]:
work_done = 0

for i, time in enumerate(range(24)):
    if time == 8:
        continue
    else:
        work_done += 1
    print(f"Time: {i+1}; Work done: {work_done}")

## 4 Hands-on Exercises

### Stages of Life

Create a function `life_stage()` that determines a person's stage of life given their `age`. The function will output a value according to the following conditions:
- If a person's `age` is less than 2 years old, that person is a `baby`.
- If a person's `age` is at least 2 years old but less than 4, that person is a `toddler`
- If a person's `age` is at least 4 years old but less than 13, that person is a `kid`.
- If a person's `age` is at least 13 years old but less than 20, that person is a `teenager`.
- If a person's `age` is at least 20 years old but less than 65, that person is an `adult`.
- If a person's `age` is 65 years or older, that person is an `elder`.

### Generating Triangles

Using `for` loops, print a right triangle `T` on the screen where the triangle is one character wide at its narrow point and seven characters wide at its widest point.

```
T
TT
TTT
TTTT
TTTTT
TTTTTT
TTTTTTT
```

Now try to print the triangle described in the previous exercise with its hypothenuse on the left side.

```
      T
     TT
    TTT
   TTTT
  TTTTT
 TTTTTT
TTTTTTT
```

### Stop the Negativity

Create a function `remove_negative()` which takes in a list of numbers then returns a new list with all the negative numbers removed.

Example:

```python
>>> remove_negative([-5, 1, -3, 2])
[1, 2]
```

### Fizz Buzz Fuzz

Create a function `fizz_buzz()` that takes in an integer `n`, then returns a string output according to the following conditions:

1. Return `'Fizz'` if `n` is divisble by 3.
2. Return `'Buzz'` if `n` is divisible by 5.
3. Return `'Fuzz'` if `n` is divisble by 15.
4. Return the value `n` as a string if none of the above conditions are true.

### Rats!!

The dictionary `rats` contain information about two rats names `Pip` and `Pippin`. It includes information such as each of the rat's `weight` and the `rate` at which each are expected to increase each week.

1. Using a `while` loop, calculate how many weeks it would take for each of the two rats's weight to become 25 percent heavier than it was originally.
2. Calculate how many weeks it would take for `Pip` to be 10% heavier than `Pippin`.

In [ ]:
rats = [
    {'name': 'Pip', 'weight': 10, 'rate': 0.08},
    {'name': 'Pippin', 'weight': 14, 'rate': 0.04}
]

### Roman Numerals

Create a function `roman_to_integer()` that takes in a roman numeral string `roman_numeral` then outputs the corresponding integer value of `roman_numeral`.

Example:

```python
>>> roman_to_integer('XVI')
16
>>> roman_to_integer('XL')
40
```